body{
    background: whitesmoke;
   
}

.container{
    margin: auto;
    margin-top: 20px;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
    background: #1F2937;
    border: 5px solid white;
    border-radius: 15px;
}

.inputs{
    display: inline;
}

#generate,#random{
    width: 354px;
    height: 40px;
    margin-left: 52px;
    margin-right: 144px;
    padding-top: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-justify: auto;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

#random{
    padding-top: 20px;
    line-height: 0px;
    color:#4ADF86;
}

#para1{
width: 372px;
height: 28px;
margin-left: 52px;
top: 205px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
letter-spacing: 0.005em;
color: #D5D4D8;

}

.checkbox{
   
    margin-left: 52px;
    color: #e6bebe;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
}

#number:after,#symbol:after {
    content: " ";
    background-color: #3ddf9f;
    display: inline-block;
    visibility: visible;
  }
  
  #number:checked:after, #symbol:checked:after {
    content: "\2714";
    box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
    height: 12px;
    display: block;
    width: 12px;
    text-align: center;
    font-size: 9px;
    color: rgb(21, 21, 21);
  }

#number{
    margin-top: 25px;
}

#symbol{
    margin-top: 8px;
    margin-bottom: 0px;
}

button{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
width: 191px;
height: 42px;
margin-left: 52px;
margin-top: 12px;
top: 284px;
background: #10B981;
color: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

button:hover{
    transition: 0.5;
    color:lightgoldenrodyellow;
    font-weight: 500;
    font-size: 16px;
    background-color:#089465;
}



#line{
    width: 446px;
    height: 0px;
    margin-left: 52px;
    margin-top:31px;
    border: 1px solid #2F3E53;
}

.password{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;

}

#password1,#password2{
    width: 211px;
    height: 39px;
    margin-left: 52px;
    top: 396px;
    margin-top: 35px;
    background: #273549;
    border-radius: 6px;
}

#password1:hover,#password2:hover{
    transition: 0.5;
    font-weight: 500;
    font-size: 16px;
    background-color:#31435c;
}

#password2{
    margin-left: 24px;
}